/*
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: hello;
    animation-duration: 5s;
}

@keyframes hello {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}
div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: -1s;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    /*    animation-direction: reverse;
    animation-direction: alternate-reverse;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}

#div1 {
    animation-timing-function: linear;
}

#div2 {
    animation-timing-function: ease;
}

#div3 {
    animation-timing-function: ease-in;
}

#div4 {
    animation-timing-function: ease-out;
}

#div5 {
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 300px;
    }
}
        animation-direction: alternate;*/

div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation-delay: 2s;    
    animation: mymove 5s;
    /*
    animation-fill-mode: forwards;
    */
    animation-fill-mode: backwards;
}

#div1 {
    animation-timing-function: linear;
}

#div2 {
    animation-timing-function: ease;
}

#div3 {
    animation-timing-function: ease-in;
}

#div4 {
    animation-timing-function: ease-out;
}

#div5 {
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 300px;
    }
}